/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
body #page #content {
	@apply bg-secondary !text-white;
}
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.page-content > * {
	@apply font-[Rajdhani];
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.post_img_full_width {
	@apply container mx-auto !m-0 min-w-full lg:h-[500px] overflow-hidden;
}
.post_img_full_width img {
	@apply w-full;
}

/* Custom */
.container {
	@apply !max-w-[1300px] px-5 lg:px-0;
	/* padding-left: 1.25rem;
	padding-right: 1.25rem; */
}
header {
	@apply transition duration-300;
}
header.header-collapsed {
	@apply -translate-y-full;
}

#site-navigation ul {
	@apply font-[Rajdhani] flex flex-col md:flex-row md:items-center gap-5 md:gap-7 lg:gap-12;
}

#site-navigation ul li:not(.menu-item-185) a,
.footer-menu a {
	@apply decoration-transparent  underline underline-offset-8 transition duration-200;
}

#site-navigation ul li a {
	@apply !text-[20px] font-medium uppercase text-white hover:text-primary;
}

#site-navigation ul li:last-child {
	@apply block lg:hidden bg-primary p-[10px_30px] rounded-[5px] [&_a]:hover:text-white hover:bg-[#07969d] cursor-pointer transition duration-200;
}

.line-decorated {
	@apply relative;
	@apply inline-block;
	padding-right: 10px;
	padding-top: 5px;

	&:before {
		content: "";
		@apply block;
		@apply absolute;
		width: 999%;
		@apply h-full;
		background: inherit;
		top: 0;
		left: -100%;
		transform: translate(-98%, 0);
	}

	&:after {
		content: "";
		@apply block;
		@apply absolute;
		@apply w-full;
		@apply h-full;
		background: inherit;
		top: 0;
		left: 0;
		transform: translate(-99%, 0);
		z-index: -1;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}

body .ham .line {
	fill: none;
	transition:
		stroke-dasharray 400ms,
		stroke-dashoffset 400ms;
	stroke-width: 4;
	stroke-linecap: round;
	@apply stroke-primary;
}
.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition:
		transform 400ms,
		stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}

.guides {
	@apply hidden lg:block uppercase text-[20px] font-medium absolute left-[50px] right-auto top-1/2 -translate-y-1/2 bottom-0 w-[2px] h-full z-20 bg-secondary;
	text-orientation: upright;
	writing-mode: vertical-lr;
}

.pm-button {
	@apply p-[22px_35px] border-none bg-primary hover:bg-[#07969d] text-white relative inline-block leading-none rounded font-medium uppercase transition duration-300;

	&:after {
		content: "—";
		font-weight: 700;
		padding-left: 10px;
	}
}
.pm-button-secondary {
	@apply p-[22px_35px] border-none bg-transparent hover:bg-primary text-primary hover:text-white text-[20px] relative inline-block leading-none rounded font-medium uppercase transition duration-300;

	&:after {
		content: "—";
		font-weight: 700;
		padding-left: 10px;
	}
}

&--text-primary {
	@apply text-primary;

	&:hover {
		@apply text-primary;
	}
}

&--outline {
	@apply border-primary;
	@apply border;
	@apply border-solid;
	@apply bg-transparent;
	@apply p-4;
}

&--transparent {
	@apply bg-transparent;
	@apply text-primary;
}

&[disabled] {
	@apply bg-gray-400;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border-radius: 0;
	background-color: #01b9c3;
	width: 25px;
	height: 10px;
	transition: all 0.3s ease;
}
.swiper-pagination-bullet {
	border-radius: 0;
	background: #d5d5d5;
	opacity: 1;
	width: 25px;
	height: 5px;
	transition: all 0.3s ease;
}

.tile_bg {
	background: linear-gradient(90deg, #110d25 0%, rgba(17, 13, 37, 0) 100%);
}

.pm-taxonomy-pill {
	@apply rounded p-[2px_8px] text-[16px] border-primary border border-solid inline-block cursor-pointer transition;
	text-decoration: none !important;
}

footer {
	@apply font-[Rajdhani];
}

#menu-footer {
	@apply mb-[50px] text-[25px] leading-[100%] font-medium flex flex-col gap-y-[18px];
}
#menu-footer li {
	@apply w-fit text-[25px] leading-[100%] hover:text-primary transition duration-200;
}

.bg_custom_gradient {
	background: linear-gradient(0deg, #110d25 10%, rgba(17, 13, 37, 0.6) 400%);
	@apply size-full absolute top-0 left-0;
}

.page-content > *,
.entry-content > * {
	max-width: 800px !important;
}

.form-with-confirm-wrapper:has(.wpcf7-acceptance-as-validation.sent)
	.form-confirmation {
	@apply opacity-100 pointer-events-auto;
}

.form-with-confirm-wrapper {
	@apply relative;
}

.form-basic input:not([type="checkbox"], [type="submit"]),
.form-basic textarea {
	@apply px-6 min-w-0 w-full h-[60px] border-b-1 border-[#EDEDED] hover:border-primary focus:border-primary outline-none transition duration-200 bg-transparent text-primary placeholder:text-white text-base;
}

.form-basic label[for="your-file"] {
	@apply cursor-pointer px-6 min-w-0 w-full h-[60px] rounded-[5px] border border-[#EDEDED] hover:border-primary focus:border-primary outline-none transition-all duration-200 bg-white text-white text-base;
}

.form-basic input#your-file {
	@apply !border-none !hidden;
}

.form-basic textarea {
	@apply py-4 h-[100px] min-h-[100px] md:h-[150px] max-h-[300px];
}

.form-basic .wpcf7-list-item {
	@apply ml-0;
}

.form-basic input[type="checkbox"] {
	@apply appearance-none shrink-0 size-[14px] rounded-full block cursor-pointer bg-transparent border border-primary hover:bg-primary/25 checked:hover:bg-primary/75 checked:bg-primary transition duration-200;
}

.form-basic .wpcf7-acceptance label {
	@apply flex gap-2.5 items-start text-sm cursor-pointer;
}
